@media only screen and (min-width: 700px){
    body{
        background-image: url("https://wallpaperaccess.com/full/2980499.jpg");
        background-size: 100% auto;
        background-repeat: no-repeat
        ;
    }
    .nav{
        width:300px;
        padding:15px;
    }
    .nav__toggler{
        display:none;
    }

    .profile-details{
        margin-top:1px;
     
      
    
    }


   
    .profile-details__icon{
      
        height:50px;
        width:50px;
       
       
        
    
    }
    
   
    .profile-details__details{
        
        padding-left:10px;
    
    }
  
    
    .profile-details__name{
        font-size:20px;
        font-weight:700;
      
    }
    
    .profile-details__email{
        margin-top:5px;
        font-size:17px;
    }


    .nav__menu{
        margin-top:30px;   
        font-size:20px;
       
       }
       .nav__menu__item{
        padding:10px;
        display:flex;
        align-items: center;
        font-weight:500;
        width:100%;
    }
    
      
       
       .font-icon{
           width:20px;
           height:20px;
           margin-right:10px
       }
       
       .dropdown-icon{
       
           float:right;
           width:30px;
           position:absolute;
           right:50px;
       }

}